/*----------------------------------
------------------------------------
Основная страница
------------------------------------
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One'); /*импорт шрифта для текста с сайта google fonts*/
/*font-family: 'Roboto Slab', serif;
font-family: 'Suez One', serif;е*/
@charset "utf-8";

* {
	margin:0;
	padding:0;
}

body, html, #site {
	width:100%;
	height:100%;
}

body {
	background-size: cover;
	background-position: center center;
}

a {
	color: #fa713e;
	text-decoration: none;.
}
header, header>div#logo>a>img, nav, footer, #prava, #main, 	.heading  {
	float: left;
}
a:hover {
	color: #ff7ffe;
	text-decoration: none;
}

header {
	background-color: #343434;
	width: 99.4%;
	padding: 0.4%;
	color: white;
	border-bottom: 5px solid #59595a;
	font-family: 'Roboto Slab', serif;
}

header>div#logo>a>img {
	width:50px;
	height:50px;
}

header>div#logo>a {
	color:white;
}

header>div#logo>a>span {
	font-size: 40px;
	margin-left: 10px;
	font-family: 'Suez One', serif;
}

@media (min-width: 1275px) {
	header>div#logo>a>img {
		margin-left: 15%;
	}
	
	#logo {
		float: left;
		width: 30%;
	}

	#ulaynovsk {
		float: left;
		width: 37%;
	}

	#reg_log {
		float: right;
		width: 30%;
	}
}

@media (max-width: 1274px) and (min-width: 700px) {
	header>div#logo>a>img {
		margin-left: 10%;
	}
	
	#logo {
		float: left;
		width: 50%;
	}

	#ulaynovsk {
		visibility: hidden;
		display: none;
	}

	#reg_log {
		float: right;
		width: 50%;
	}
}

@media (max-width: 700px) {
	header>div#logo>a>img {
		margin-left: 1%;
	}
	
	#logo {
		width: 70%;
	}

	#ulaynovsk {
		visibility: hidden;
		display: none;
	}

	#reg_log {
		visibility: hidden;
		display: none;
	}
}

#ulaynovsk {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

#ulaynovsk>a {
	color:white;
}

#ulaynovsk>a:hover {
	color: #dfdfdf;
	border-bottom: 1px solid silver;
}

#reg_log>a {
	color: white;
}

#reg_log>a>div#btn {
	float: right;
	margin-right: 3%;
	margin-top: 5px;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 24px;
	background-color: rgba(236,101,80, 1);
	text-shadow: #454545 0 0 2px;
	color: white;
	border-bottom: 4px solid rgba(217, 91, 72, 1);
}

#reg_log>a>div#btn:hover {
	margin-top: 7px;
	border-bottom: 2px solid rgba(217, 91, 72, 1);
}

#reg_log>a>div#btn:active {
	margin-top: 9px;
	border-bottom: 0;
}
/*меню сайта*/

nav {
	background-color: white;
	width: 99.4%;
	padding: 7px 0.4%;
	border-bottom: 2px solid #ebebeb;
}

nav a {
	margin-top: -5px;
	color: #323232;
	font-size: 24px;
	margin-left: 5%;
}

nav a:hover {
	color: #e8622d;
}

/*Конец стилей для шапки*/
/*Основная часть сайта*/

#site {
	display: flex;
	flex-direction: column;
}

#info {
	flex: auto 1 0;
}


/*Конец основной части сайта*/
/*Футер сайта*/

footer {
	float: left;
	background-color: #343434;
	width: 99.8%;
	padding: 0.2%;
	padding-bottom:0.8%;
	color: white;
	border-top: 5px solid #59595a;
	display: inline-block;	
}

#myname {
	margin-right: 5%;
	color: #f4f4f4ref;
	font-size: 22px;
	padding-top: 15px;
	float: right;
	font-family: 'Suez One', serif;
}

#prava {
	float: left;
	margin-left: 5%;
	margin-top: 40px;
	font-size: 20px;
}

#prava>a {
	color: white;
}

#prava>a:hover {
	color: aeaeae;
	border-bottom: 1px solid silver;
}

#ccbllki {
	float: right;
	width: 40%;
	margin-right: 15%;
	margin-top:10px;
}

.cc1, .cc2, .cc3 {
	float: right;
	width: 30px;
	height: 30px;
	margin-left: 2%;
}

@media (min-width: 600px) and (min-width: 900px) {
	#ccbllki {
	float: right;
	width: 40%;
	margin-right: 15%;
	margin-top: 25px;
	}
	#myname {
	margin-right: 5%;
	color: #f4f4f4ref;
	font-size: 22px;
	padding-top: 20px;
	float: right;
	font-family: 'Suez One', serif;
	}
}
@media (max-width: 600px) {
	#prava {
		display: none;
	}
	#ccbllki {
	width: 40%;
	margin-right: 40%;
	margin-top: 10px;
	}
	#myname {
	color: #f4f4f4ref;
	font-size: 22px;
	padding-top: 12px;
	font-family: 'Suez One', serif;
	text-align:center;
	margin-right: 15%;
	}
}
@media (max-width: 400px) {
	#ccbllki {
	width: 40%;
	margin-right: 38%;
	margin-top: 10px;
	margin-bottom: 15px;
	}
	#myname {
		margin-right: 5%;
	}
}

@media (max-width: 300px) {
	#ccbllki {
	width: 40%;
	margin-right: 38%;
	margin-top: 10px;
	margin-bottom: 15px;
	}
	.cc1, .cc2, .cc3 {
	width: 30px;
	float: right;
	height: 30px;
	margin-left: 1%;
	}
	#myname {
		margin-right: 2%;
	}
}
/*----------------------------------
------------------------------------
Конец Основная страница
------------------------------------
----------------------------------*/


/*----------------------------------
------------------------------------
Страница все права защищены
------------------------------------
----------------------------------*/

/*
Права
*/

#main {
	margin-left: 5%;
	margin-top: 40px;
}

/*Вся информация*/

.text1, .text6, .text5, .text7 {
	height: 100px;
	padding: 15px;
	padding-top: 80px;
	background-color: #ffffff;
	margin: 15px;
	border-radius: 30px;
	border: 1px solid #A9A9A9;
	text-align:justify;
	font-size: 24px;
}

.text5 {
	height: 100%;
	padding-top: 30px;
}

/*Заголовок для новой страницы*/
.heading {
	font-size: 26px;
	border-bottom: 2px solid #db6e6e;
	font-family: 'Roboto Slab', serif;
	color: #4f4f4f;
	padding: 0px 5px;
}

.heading:first-letter {
	color: #db6e6e;
}
/*
------------>
Конец заголовка
<------------
*/
/*Адаптивность*/
@media (min-width: 1051px) {
	.text5, .text6, .text7 {
		width: 90%;
		
	}
	.text5 {
		height: 120%;
		padding-top: 2%;
	}
	.text1{
		width: 173%;
		height: 100%;
		padding-top: 2%;
	}
}
@media (max-width: 700px) {
	.text7 {
		width: 100%;
		padding-top: 8%;
		padding-bottom:8%;
		height: 100%;
	}
}
@media (max-width: 1100px) and (min-width: 700px) {
	
	.text5, .text6, .text7 {
		width: 90%;
	}
	.text5 {
		height: 100%;
		padding-top: 2%;
	}
	.text6 {
		width: 85%;
		padding-top: 4%;
		padding-bottom:4%;
		height: 100%;
	}
	.text1 {
		width: 98%;
		height: 100%;
		padding-top: 2%;
	}
}

@media (max-width: 600px) and (min-width: 500px) {
	
	.text6, .text7 {
		width: 85%;
		height: 100%;
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.text6 {
		padding-top: 8%;
		padding-bottom:8%;
		height: 100%;
	}
	.text1{
		width: 87%;
		height: 100%;
		padding-top: 2%;
	}
}

@media (max-width: 498px)  {
	
	.text6 {
		width: 80%;
		height: 100%;
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.text6 {
		height: 100%;
		padding-bottom: 8%;
	}
	.text1 {
		width:80%;
		height:100%;
		padding-top: 2%;
	}
}

@media (max-width: 400px) {
	
	.text5, .text6{
		width: 90%;
		height: 100%;
		padding-top: 8%;
	}
	.text6 {
		height: 100%;
		width: 80%;
		padding-bottom: 8%;
	}
	.text5 {
		width: 80%;
		height: 100%;
	}
	.text7 {
		width: 80%;
		height: 100%;
	}
	.text1 {
		width:78%;
		height:100%;
		padding-top: 2%;
	}
}

@media (max-width: 300px) {
	.text5, .text6 {
		width: 74%;
		height: 100%;
		padding-top: 8%;
	}
	.text6 {
		height: 100%;
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.text5 {
		height: 100%;
		padding-top: 2%;
	}
	.text1 {
		width:74%;
		height:140%;
		padding-top: 3%;
	}
}
	
/*
------------>
Конец адаптации
<------------
*/
/*

/*----------------------------------
------------------------------------
Конец страницы все права защищены
------------------------------------
----------------------------------*/

/*----------------------------------
------------------------------------
Новости
------------------------------------
----------------------------------*/
/*
Новости
*/

/*Вся информация*/


li {
	margin-left: 5%;
}


/*
------------>
Конец заголовка
<------------

/*----------------------------------
------------------------------------
Конец Новости
------------------------------------
----------------------------------*/

/*----------------------------------
------------------------------------
Портфолио
------------------------------------
----------------------------------*/

/*
Кнопка
*/

#btn {
	margin-right: 3%;
	margin-top: 5px;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 24px;
	background-color: rgba(236,101,80, 1);
	text-shadow: #454545 0 0 2px;
	color: white;
	border-bottom: 4px solid rgba(217, 91, 72, 1);
	text-align: center;
}

#btn:hover {
	margin-top: 7px;
	border-bottom: 2px solid rgba(217, 91, 72, 1);
}

#btn:active {
	margin-top: 9px;
	border-bottom: 0;
}

/*
Главная
*/

#gl {
	width: 20%;
	margin: 10px auto;
	paddng: 0px;
}

/*
 адаптивность кнопки
*/

@media (max-width: 1274px) and (min-width: 700px) {
	#gl {
		margin: 10px auto;
		paddng: 0px;
	}
}

@media (max-width: 700px) {
	#gl {
		margin: 10px auto;
		paddng: 0px;
		width: 30%;
	}
}

@media (max-width: 600px) {
	#gl {
		margin: 10px auto;
		paddng: 0px;
		width: 40%;
	}
}

@media (max-width: 300px) {
	#gl {
		margin: 10px auto;
		paddng: 0px;
		width: 50%;
	}
}

/*
Галерея
*/
#galarey {
	width: 600px;
	height: 400px;
	margin: 150px auto;
	margin-bottom: 100px;
	background-color: #cccccc;
	position:absilute;
}

#gal {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.li1 {
	position:absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-size: cover;
	background-position: center;
}
/*

Кнопки
*/

button{
	width: 100px;
	height: 50px;
}

#prev{
	margin-left: 192px;
	margin-top: 420px;
}

#next {
	
}

/*----------------------------------
------------------------------------
Конец Портфолио
------------------------------------
----------------------------------*/
/*--------------------------------
Адаптивность футер, шапка, панель навигации
---------------------------------*/
@media (max-width: 300px) {
	footer {
	width: 116%;
	padding: 0.7%;
	}
	nav {
	width: 116%;
	padding: 7px 0.7%;
	}
	header {
	width: 116%;
	padding: 0.7%;
	}
}





